# Nuxt dev/build outputs
.nuxt
.output
dist
.env

# Node dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
*.log
*.pid

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# AI & Local Debug
.claude/
.opencode/
debug-*.png
